.row{
    text-align: center;
    display: flex;
    flex-wrap : wrap;
    justify-content: space-between;
    align-items: center;
}
.team-media img{
    width: 20vw;
}
.col{
   margin: 20px;
}
ul.team-social li {
    display: inline-block;
}

ul.team-social li a {
    width: 35px;
    height: 35px;
    border: 1px solid var(--color-primary);
    display: inline-block;
    text-align: center;
    line-height: 35px;
    color: var(--color-primary);
}

.team-info {
    text-align: center;
}

.team-info h3 {
    margin-top: 26px;
    margin-bottom: 0;
}
.texte{
    font-size: 50px;
    text-align: center; 
    text-decoration: underline;
    text-transform: capitalize;
}
