.contac-form {
  display: flex;
  justify-content: center;
  padding: 75px 100px;
  align-items: center;
  height: 65vh;
  margin-top: 4rem;
  background-color: #eee;
  /* background-color: #000a06; */
}

.card {
  box-shadow: 0 0 20px #ddd;
}
h2 {
  font-size: 1.5rem;
}

.design {
  position: absolute;
  width: 300px;
  height: 600px;
  border-radius: 100px;
  background-color: #14a9ff;

  &.type1 {
    left: calc(100% - 150px);
    bottom: 20;
    transform: rotate(45deg);
  }

  &.type2 {
    right: calc(100% - 150px);
    bottom: 0;
    transform: rotate(45deg);
  }
}

.c-right > form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.header-text {
  background: -webkit-linear-gradient(0, rgb(0, 132, 255), rgb(255, 217, 0));
  -webkit-background-clip: text;

  background-clip: text;
  color: transparent;

  -webkit-text-fill-color: transparent;
}

header {
  position: relative;
  border-bottom: 5px solid #6be6ff;
  box-shadow: 0 0 30px 0 rgba(0, 255, 255, 0.333);
  border-image: linear-gradient(to right, rgb(211, 235, 2), rgb(50, 160, 204)) 1;
  background-image: url(../assets/headerback.png);
  background-size: cover;
  background-repeat: no-repeat;
  .navbar {
    padding: 40px 30px;
    background-color: #1a1a1a;
    font-family: sans-serif;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    input {
      width: 300px;
      color: #eee;
      padding: 10px 20px;
      outline: 0;
      font-size: 1.1rem;

      border: #050505 solid 2px;
      background-color: #222;
      &:focus {
        border-color: #d6c800;
      }
    }
    nav {
      display: flex;
      font-size: 1rem;

      .menu {
        position: relative;
        margin: 0 20px;
        a {
          color: #e5e5e5;
        }

        .submenu {
          display: none;
          position: absolute;
          background-color: #181818;
          border-top: 3px #148dff solid;

          width: 300px;
          min-height: 400px;
          z-index: 10000;
          left: 0;
        }

        &:hover {
          .submenu {
            display: block;
          }
        }
      }
    }
  }
  background-color: #eee;
}

header {
  overflow: hidden;
  video {
    position: absolute;
    top: 0;
    min-width: 100%;
  }
}

.btn {
  border: #000 1px solid;
}

.servicies {
  background-image: url(../assets/headerback1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.books {
  background-color: #fff;
  justify-content: space-around;
  align-items: center;

  height: 80vh;

  img {
    height: 400px;
  }
}

.c-right .user {
  width: 45vw;
  height: 2.5rem;
  padding: 0.5rem;
  outline: none;
  background-color: #ececf198;
  border-radius: 8px;
  font-size: 16px;
}

textarea {
  height: 8rem !important;
}

.w-left {
  margin-right: 50px;
}

/* Buttons section  */

/* Hero button section */

.herobutton {
  background: #fff;

  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  width: 200px;
  clip-path: polygon(20px 0, 0 100%, calc(100% - 20px) 100%, 100% 0);
  overflow: hidden;
  text-transform: capitalize;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(1, 18, 173);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }

  &:hover {
    color: #ffffff;
  }

  &:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }
}

/* End hero button section */

.button {
  font-family: inherit;
  font-size: 18px;
  width: 200px;
  padding: 0.4em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
  // background-color: #339b4a;
}

.button:hover {
  transform: translateY(-3px);
}

.button:active {
  transform: scale(0.95);
}

.button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
  font-weight: 600;
}

.button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

.button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

.button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

.button:hover svg {
  transform: rotate(45deg);
}

.cslinks {
  gap: 20px;
  svg {
    width: 20px;
    height: 20px;
  }
}

.link-1:hover {
  color: #d8255bf6;
  cursor: pointer;
}
j .link-2:hover {
  color: #0f31c7f6;
  cursor: pointer;
}

.link-3:hover {
  color: #25b4d8f6;
  cursor: pointer;
}

.link-4:hover {
  color: #0b1214d8;
  cursor: pointer;
}

.about {
  background: #ffffff;
  height: auto;
  justify-content: space-between;
}

footer {
  font-family: sans-serif;
  line-height: 1.6rem;
  border-top: 1px solid #ccc;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #111;
  .button {
    border: 2px solid #222;
    margin-top: 30px;
  }
  .link {
    color: #444;
    font-size: 0.9rem;
    &:hover {
      color: #000;
    }
  }
}
.gradient-border {
  --borderWidth: 3px;
  background: #1d1f20;
  position: relative;
  border-radius: calc(2 * var(--borderWidth));
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #55e1f3,
    #4ee4ef,
    #0ea7d6,
    #158ef1,
    #00ddffcc,
    #077db3,
    #1ea3cc
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
