@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;

  /* -webkit-filter: invert(100%);
  filter: invert(100%); */
}


:root{
  --blue: #0066FF;
  --gray100: #323232;
  --gray200: #4F4F4F;
  --green: #03D936; 
  --pink100: #EEEAFE;
}

.padding-body{padding: 0 10rem;}
.mt{margin-top: 10rem;}
.mb{margin-bottom: 10rem;}
.mx{}
.button{
  background-color: var(--blue);
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 12px;
  width: 150px;
  border-radius: 5px;
}
.button:hover{
  color: var(--blue);
  cursor: pointer;
  outline: 1.5px solid var(--blue);
  background-color: #0066ff00;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

