@font-face {
  font-family: Gumela;
  src: url('../src/fonts/Gumela\ Regular.otf');
}

* {
  font-family: 'Gumela';
  font-weight: normal;
  font-size: 20px;
}

body {
  margin: 0;
  background-color: var(--purple);
}

:root {
  
  --yellow: #F5C32C;
  --orange: #FCA61F;
  --black: #242D49;
  --gray: #788097;
  --blueCard: #DDF8FE;
  --purple: #a034de;
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}

.button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px;
  background: linear-gradient(180deg, #fcd50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgb(251, 161, 40, 0.42);
}

.button:hover {
  background: white;
  cursor: pointer;
  padding: 10px 25px;
  color: var(--orange);
  border: 1px solid var(--orange);
}

.n-right>ul>*:hover{
  font-weight: bold;
  cursor: pointer;
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #a034de 25.5%, #00cea8 47.9%, #a034de 81.5%, #00CEA8 33%, #a034de 41.5%);
  box-shadow: 0px 40px 100px 3px rgba(0, 0, 0, 0.712);
}

.shape-shadow{
  filter: drop-shadow(0px 16px 2px #000000);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}